
/*
    Main content --> specific to the home page
*/

main {
    display: flex;
    flex-direction: column; /* Disposition en colonne */
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    gap: 60px; /* Ajoute un espace entre les éléments */
    position: relative; /* Position relative pour le positionnement des pubs */
    padding-top: 60px; /* Add padding to avoid overlapping with header */
    padding-bottom: 60px; /* Add padding to avoid overlapping with footer */
}

.pub {
    position: absolute;
    margin: 1%;
    top: 50%;
    transform: translateY(-50%);
}

.pub-left {
    left: 0;
}

.pub-right {
    right: 0;
}

.pub img {
    width: 20vh; /* Définissez la largeur souhaitée pour les pubs verticales */
    height: 80vh; /* Hauteur automatique pour maintenir le ratio */
    border-radius: 10px;
    object-fit: cover; /* Assure que l'image couvre l'espace sans déformation */
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    text-align: center;
    width: 70%;
    margin: auto;
}

.navigation1 {
    text-decoration: none;
    background-color: rgb(236, 168, 73);
    color: white;
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 22px;
    font-weight: bold;
    transition: background-color 0.1s, color 0.1s;
}

.navigation1:hover {
    background-color: rgb(229, 145, 35);
    color: white;
}

.navigation_link {
    text-decoration: none;
    background-color: rgb(45, 45, 45);
    color: white;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 14px;
    transition: background-color 0.1s
}

.navigation_link:hover {
    background-color: rgb(55, 55, 55);
}

footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 600px) {
    body {
        font-size: 75%; /* Reduce font size to 75% on mobile devices */
    }

    .pub img {
        width: 10vh; /* Définissez la largeur souhaitée pour les pubs verticales */
        height: 80vh; /* Hauteur automatique pour maintenir le ratio */
        border-radius: 10px;
        object-fit: cover; /* Assure que l'image couvre l'espace sans déformation */
    }
}



