* {
    color: white;
}

.greenbutton {
    background-color: rgb(93, 193, 93);
}

.greenbutton:hover {
    background-color: rgb(75, 156, 75);
}

.redbutton {
    background-color: rgb(217, 83, 79);
}

.redbutton:hover {
    background-color: rgb(176, 68, 64);
}

.redbutton, .greenbutton {
    padding: 25px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 24px;
    transition: background-color 0.1s;
}

section {
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation2 {
    text-decoration: none;
    background-color: rgb(45, 45, 45);
    color: white;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 14px;
    transition: background-color 0.1s
}

.navigation2:hover {
    background-color: rgb(55, 55, 55);
}

.pub {
    background-color: rgb(155, 155, 252);
}